<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Chat!</title>
    <style>
        #message_box{
            height: 400px;
            width: 40%;
            overflow: auto;
            border: solid black 2px;
            margin: auto;
        }
        #chat_input{
            margin-left: 390px;
        }
    </style>
    <script src="{{ STATIC_URL }}socket.io.js"></script>
    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}chatUI/javascript/chat.js"></script>
</head>
<body>



<input type="hidden" value="{{ room }}" id="room">
<div id="message_box">
    {% for x in message %}
        <p>x</p>
    {% endfor %}
</div>
<input type="text" name="chat_input" id="chat_input" >
</body>
</html>