<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}UserManagement/scss/homepage.css">

    <link rel="stylesheet" type="text/css"
          href="{{ STATIC_URL }}UserManagement/bower_components/semantic-ui/build/packaged/css/semantic.min.css">
    <meta charset="UTF-8">
    <title>Who Am I</title>
</head>
<body>

<div class="right labeled icon attached ui black huge launch animated button" id="leftside-button">
    <i class="icon user layout"></i>
    <span class="text" style="display: inline;" id="left-sidebar-button-text">Sign Up</span>
</div>

<div class="left labeled icon ui black huge launch attached animated button" id="rightside-button">
    <i class="icon user layout"></i>
    <span class="text" style="display: inline;" id="right-sidebar-button-text">Sign In&nbsp;&nbsp;</span>
</div>

<div class="main-page-disc">
    <p id="error">Who <span>&nbsp; Am </span>&nbsp; I</p>

    <p id="night-keeping">Now is the time you start NIGHTKEEPING with WhoAmI</p>
</div>

<div class="ui left black styled sidebar menu" id="left-sidebar">
    <form action="/account/signup_request/" onsubmit="send_form('#form-signup','.signup_message_holder');return false;"
          method="POST"
          id="form-signup"
          class="myForm signup ">
        {% csrf_token %}
        class="ui form margin-login">


        <div class="item margin-login">
            <div class="ui left icon input" id="firstname-signup">
                {{ form.first_name }}
                <i class="user icon"></i>
            </div>
        </div>

        <div class="item margin-login">
            <div class="ui left icon input" id="lastname-signup">
                {{ form.last_name }}
                <i class="user icon"></i>
            </div>
        </div>

        <div class="item margin-login">
            <div class="ui left icon input" id="username-signup">
                {{ form.username }}
                <i class="user icon"></i>
            </div>
        </div>

        <div class="item margin-login" id="age-signup">
            <div class="ui left icon input">
                {{ form.email }}
                <i class="user icon"></i>
            </div>
        </div>

        <div class="item margin-login" id="age-signup">
            <div class="ui left icon input">
                {{ form.age }}
                <i class="user icon"></i>
            </div>
        </div>

        <div class="item margin-login">
            <div class="ui left icon input" id="password-signup">
                {{ form.password }}
                <i class="user icon"></i>
            </div>
        </div>

        <div class="item margin-login">
            <div class="ui left icon input" id="confirmpassword-signup">
                {{ form.confirm_password }}
                <i class="user icon"></i>
            </div>
        </div>


        <div class="item margin-login black" style="width:100%">
            <div class="ui selection fluid dropdown">
                <input name="gender" type="hidden">

                <div class="default text">Gender</div>
                <i class="dropdown icon"></i>

                <div class="menu">
                    {{ form.gender }}
                    {% for x in form.gender.field.choices %}
                        <div class="item" value="{{ x.0 }}"> {{ x.1 }} </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="item margin-login" style="width:100%">
            <input class="fluid ui button submit green" id="button-signup" type="submit" value="Sign Up">
        </div>
        <div class="item margin-login" style="width:100%">
            <div class="message_holder signup_message_holder"></div>
        </div>

    </form>

    <div class="item errors" style="color: #ffffff"></div>
    >
</div>


<div class="ui right black styled sidebar menu" id="right-sidebar">
    <form action="/account/login_request/" onsubmit="send_form('#form-signin','.signin_message_holder');return false;"
          method="POST"
          id="form-signin"
          class="login">
        {% csrf_token %}
        <div class="item margin-login">
            <div class="ui left icon input">
                <input placeholder="Username / Email" type="text" id="username-signin" name="username">
                <i class="user icon"></i>
            </div>
        </div>
        <div class="item margin-login">
            <div class="ui left icon input">
                <input placeholder="Password" type="text" id="password-signin" name="password">
                <i class="user icon"></i>
            </div>
        </div>

        <div class="item margin-login" style="width:100%">
            <input class="fluid ui button submit green" id="button-signup" type="submit" value="Sign In">
            {% comment %}
             <div class="fluid ui animated button submit green" id="button-signin" type="submit" >
                <div class="visible content">Sign In</div>
                <div class="hidden content">
                    Start Playing Who Am I
                </div>
            </div>
            {% endcomment %}
        </div>

        <div class="item margin-login" style="width:100%">
            <div class="fluid ui button red" id="button-forgotpassword-signin">
                <div class="content" id="forgotpassword-text">Forgot Password</div>
            </div>
        </div>
        <div class="item margin-login" style="width:100%">
            <div class="message_holder signin_message_holder"></div>
        </div>
    </form>
</div>


<div class="ui basic small modal" id="modal-forgotpassword">
    <i class="close icon"></i>

    <form action="/account/forget_password_request/" method="POST"
          onsubmit="send_form('#form-forgot','.signin_message_holder');return false;" id='form-forgot'>
        {% csrf_token %}
        <div class="content margin-login" style="width:100%">
            <div class="modal-text">
                We will send your new password to your Email
            </div>

            <div class="ui left icon input" style="width: 100%">
                <input placeholder="Username / Email" type="text" id="username-modal" name="username">
                <i class="user icon"></i>
            </div>
        </div>

        <div class="actions">
            <input class="ui blue button" id="modal-send-button" value="SEND" type="submit"/>
        </div>
    </form>
</div>

<!--
<div class="ui divider horizontally">

</div>
-->


<script src="{{ STATIC_URL }}UserManagement/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ STATIC_URL }}UserManagement/bower_components/semantic-ui/build/packaged/javascript/semantic.min.js"></script>
<script src="{{ STATIC_URL }}UserManagement/javascripts/homepage.js"></script>
</body>
</html>