# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

/.idea/
/.project
*~
*.pyc
/db.sqlite3
__pycache__/
/static/bower_components/**
/static/UserManagement/bower_components/**
/static/UserManagement/scss/*.css
/static/UserManagement/scss/*.map
/templates/UserManagementUI/homepage.html
/Game/nodes/node_modules/**

