<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>forget password</title>
    <link href="{{ STATIC_URL }}bower_components/semantic/build/packaged/css/semantic.min.css" rel="stylesheet"/>
</head>
<body>
<form class="ui form" method="post" action="/account/forget_password/">
    {% csrf_token %}
    <div class="ui form segment">
        <div class="field">
            <label>Username</label>

            <div class="ui left labeled icon input">
                <input type="text" placeholder="Username" name="username">
                <i class="user icon"></i>

                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
        <input class="ui blue submit button" value="send" type="submit"/>
    </div>
</form>
</body>
</html>