<!DOCTYPE html>
<html>
<head>
    <link href="{{ STATIC_URL }}bower_components/semantic/build/packaged/css/semantic.min.css" rel="stylesheet"
          type="text/css">
    <title>login!</title>
</head>
<body>

{% if error %}
    <p style="color: red">Your username or password is wrong! </p>
{% endif %}
<form class="ui form" method="post" action="/account/login_request/">
    {% csrf_token %}
    <div class="ui form segment">
        <div class="field">
            <label>Username</label>

            <div class="ui left labeled icon input">
                <input type="text" placeholder="Username" name="username">
                <i class="user icon"></i>

                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
        <div class="field">
            <label>Password</label>

            <div class="ui left labeled icon input">
                <input type="password" name="password"/>
                <i class="lock icon"></i>

                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
        <a href="/account/forget_password" class="field">forget password</a><br/>
        <div class="ui error message">
            <div class="header">We noticed some issues</div>
        </div>
        <input class="ui blue submit button" value="login" type="submit"/>
    </div>
</form>

<script src="{{ STATIC_URL }}bower_components/semantic/build/packaged/javascript/semantic.min"></script>
</body>
</html>