
$hgt: 570px;

.padding-custom {
  padding-top: 4px !important;
  padding-left: 0.4% !important;
  padding-right: 0.4% !important;
}


.border {
  border: 1px solid black;
  position: relative;
  display: inline-block;
}

.wrap {
  display: inline-block;
  width: 100%;
  height: auto;
  border: 1px solid black;
  position: relative;
}

.itemcustom {
  width: 50px;
}

.list {
  @extend .padding-custom;
  height: $hgt;
}

.chat {
  @extend .padding-custom;
  height: $hgt;
}

.options {
  @extend .padding-custom;
  height: $hgt;
}

.scores {
  //position: relative
  //display: inline-block;
  //width: 18.5%;
  //height: 150px;
  //top: 1px;
  //right: 1px;
  //float: right;
}

.whisper {

}

.footer {
  position: relative;
  top: -27px;
}

.social {
  height: 55px;
}

.rights {
  height: 35px;
}

.timer {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  position: relative;
  float: right;
  display: inline;
  top: 2px;
  right: 2px;
  border: 1px solid black;
}

.circ {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 1px solid transparent;
  text-align: center;
  //vertical-align: middle;
  //font-size: 222px;
}


.hour{
  @extend .circ;
  background-color: red;
  color: #000000;
}

.round {
  @extend .circ;
  background-color: #0000ff;
  color: #ffffff;
}
