<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}base_images/tab_image.jpg"/>
    <link href="{{ STATIC_URL }}bower_components/semantic/build/packaged/css/semantic.min.css" rel="stylesheet"
          type="text/css"/>
    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/semantic/build/packaged/javascript/semantic.min.js"></script>

</head>
<body>


<form class="ui form segment" action="/game/newgame_request/" method="POST">
    {% csrf_token %}

    <div class="fields">
        <div class="field">
            <label>Name of the game</label>

            {{ form.name }}
        </div>
    </div>
    <div class="field">
        <label>Max Number of Player</label>
        {{ form.max_number_of_player }}
    </div>
    <div class="field">
        <label>Time of each round</label>
        {{ form.time_of_each_round }}
    </div>


    <input class="ui blue button" value="Submit" type="submit"/>
</form>
{{ form.errors }}




</body>
</html>