<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}base_images/tab_image.jpg"/>
    <link href="{{ STATIC_URL }}bower_components/semantic/build/packaged/css/semantic.min.css" rel="stylesheet"
          type="text/css"/>
    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/semantic/build/packaged/javascript/semantic.min.js"></script>

</head>
<body>


<form class="ui form segment" action="/account/signup_request/" method="POST">
    {% csrf_token %}

    <div class="two fields">
        <div class="field">
            <label>First Name</label>

            {{ form.first_name }}
        </div>
        <div class="field">
            <label>Last Name</label>
            {{ form.last_name }}
        </div>
    </div>
    <div class="field">
        <label>Age</label>
        {{ form.age }}
    </div>
    <div class="field">
        <label>Email</label>
        {{ form.email }}
    </div>

    <div class="field">
        <label>Username</label>
        {{ form.username }}
    </div>
    <div class="field">
        <div class="ui selection dropdown">

            <div class="default text">Gender</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                {{ form.gender }}
                {% for x in form.gender.field.choices %}
                    <div class="item" value="{{ x.0 }}"> {{ x.1 }} </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="field">
        <label>Password</label>
        {{ form.password }}
    </div>
    <div class="field">
        <label>Confirm Password</label>
        {{ form.confirm_password }}
    </div>
    <div class="inline field">
        <div class="ui checkbox">
            {{ form.term_accept }}
            <label>I agree to the Terms and Conditions</label>
        </div>
    </div>
    <div class="ui blue submit button">Submit</div>
</form>
<div>{{ form.errors }}</div>

<script>
    $('.ui.form')
            .form({
                firstName: {
                    identifier: 'first_name',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter your first name'
                        }
                    ]
                },
                lastName: {
                    identifier: 'last_name',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter your last name'
                        }
                    ]
                },
                email: {
                    identifier: 'email',
                    rules: [
                        {
                            type: 'email',
                            prompt: 'Please enter correct email address'
                        }
                    ]
                },
                username: {
                    identifier: 'username',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter a username'
                        }
                    ]
                },
                age: {
                    identifier: 'age',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter your age'
                        }
                    ]
                },

                password: {
                    identifier: 'password',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter a password'
                        },
                        {
                            type: 'length[6]',
                            prompt: 'Your password must be at least 6 characters'
                        }
                    ]
                },
                confirm_password: {
                    identifier: 'confirm_password',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter your password again'
                        },
                        {
                            type: 'match[password]',
                            prompt: 'Your password does not match with above password'

                        }
                    ]
                },
                terms: {
                    identifier: 'terms',
                    rules: [
                        {
                            type: 'checked',
                            prompt: 'You must agree to the terms and conditions'
                        }
                    ]
                }
            },{
                on: 'blur',
                inline: 'true'
            })
    ;
    $('.ui.dropdown')
            .dropdown()
    ;
    $('.ui.checkbox')
            .checkbox()
    ;

</script>


</body>
</html>