@font-face {
  font-family: Monoton;
  src: url(../fonts/Monoton-Regular.ttf);
}

@font-face {
  font-family: Bitwise;
  src: url(../fonts/bitwise.ttf);
}
.main-page-disc {
  text-align: center;
  #error {
    font-family: 'Monoton', cursive;
    padding-top: 3%;
    font-size: 5em;
    text-transform: uppercase;
    text-shadow: 0 0 0.5em red, 0 0 0.5em black , 0 0 0.5em DarkRed;
    color: red;
    //width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 10%;

    //text-shadow: 0 0 80px #ffffff, 0 0 30px #008000, 0 0 6px #0000ff;
    span {
      animation: upper 11s linear infinite;
    }
  }


  #error:hover {
    text-shadow: 0 0 1.2em #ffffff, 0 0 0.8em #008000, 0 0 0.2em #0000ff;
  }

  #night-keeping {
    font-family: 'bitwise';
    margin-top: 2%;
    font-size: 1.8em;
  }
}